@import "global";

.footer {
  background-color: $Black;
  color: $White;
  text-align: center;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 1000px) {
    margin-top: 12rem;
  }

  &__wrapper {
    margin-top: 3rem;
    margin-bottom: 3.5rem;

    @media (min-width: 1000px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1000px) {
      width: 50%;
    }
  }

  &__logo {
    margin-bottom: 2.5rem;

    @media (min-width: 1000px) {
      margin-bottom: 2.2rem;
      text-align: left;
    }
    img {
      width: 150px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1000px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 24rem;
    }

    a {
      color: $White;
      margin-bottom: 1rem;
    }

    a::after {
      content: "";
      display: block;
      margin: 0.625rem auto;
      background: white;
      height: 2px;
      width: 0;
      transition: all 0.3s ease-in-out;
    }

    a:hover::after {
      width: 30%;
    }
  }

  &__social {
    margin-top: 2rem;

    @media (min-width: 1000px) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 50%;
      margin-top: 0;
    }

    .footer__social-icons {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 1000px) {
        text-align: right;
      }

      .footer__icon {
        margin-right: 1rem;
      }

      a::after {
        content: "";
        display: block;
        margin: 1rem auto;
        background: white;
        height: 2px;
        width: 0;
        transition: all 0.3s ease-in-out;
      }

      a:hover::after {
        width: 70%;
      }
    }
  }

  &__copyright {
    color: $Very-Dark-Gray;
    margin-top: 0.5rem;

    @media (min-width: 1000px) {
      margin-top: 0;
    }
  }
}
